<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nhan_dien_cay_benh_mobile.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>04A946803452DFACEFCA30268CFFAC8BF8D5BDC6</string>
				<key>dateExpires</key>
				<string>26/7/25</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04A946803452DFACEFCA30268CFFAC8BF8D5BDC6</string>
						<key>dateExpires</key>
						<string>26/7/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JUXAHZ3PR4</string>
						<key>name</key>
						<string>Do Van Khanh</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04A946803452DFACEFCA30268CFFAC8BF8D5BDC6</string>
						<key>dateExpires</key>
						<string>26/7/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JUXAHZ3PR4</string>
						<key>name</key>
						<string>Do Van Khanh</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04A946803452DFACEFCA30268CFFAC8BF8D5BDC6</string>
						<key>dateExpires</key>
						<string>26/7/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JUXAHZ3PR4</string>
						<key>name</key>
						<string>Do Van Khanh</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>JUXAHZ3PR4.com.tondz.nhanDienCayBenhMobile</string>
				<key>com.apple.developer.team-identifier</key>
				<string>JUXAHZ3PR4</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6d5129cb-c3bc-4ec7-9319-dad753063412</string>
				<key>dateExpires</key>
				<string>1/10/25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>JUXAHZ3PR4</string>
				<key>name</key>
				<string>Do Van Khanh</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
